body {
    font-family: sans-serif;
    text-align: center;
    background-color: #e6ffe6
}
table {
    color: #333;
    background: white;
    border: 1px solid grey;
    font-size: 12pt;
    border-collapse: collapse;
    margin: 20px;
  }

  table td {
    padding: .5em;
    border: 1px solid lightgrey;
    text-align: left;
  }

  #taxCalculations {
      margin-left: auto;
      margin-right: auto;
  }

  #grossSalary {
      margin: 20px;
  }