extends layout

block content
  // - heading with class assignment
  h1.p4Heading #{title}

  // - paragraph with ID assignment - requires addition of id in routes/index.js
  p#author Drew Halverson

  // - div 
  #container
    div some text
    div hello world